@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,
body {
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.ligthTheme {
    background-color: rgb(228, 228, 228);
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 25px;
}


.darkTheme {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 25px;
}

/* 
DISEÑO POR DEFECTO : 320px - 480px
------ MEDIAQUERI ------
481px - 768px
769px - 1024px
1025px - 1200px
1200px - en adelante(TVS grandes) 
*/